{% extends 'manager/base.html' %}

{% load static from staticfiles %}

{% block meta_title %} List of Appointments {% endblock meta_title %}

{% block title %}List of Appointments{% endblock title %}

{% block content %}
  <!-- Add Appointment Button -->
  <a class="btn btn-primary" id="btn-link" href="{% url 'appointments_add' %}">Add Appointment</a>

  <!-- List of Appointments Start -->
    <div class="list-group">
      {% for appointment in appointments %}
        <a class="list-group-item" id="list-item" href="{% url 'appointments_form' appointment.id %}">{{ appointment }}</a>
      {% endfor %}
    </div>
  <!-- List of Appointments End -->
{% endblock content %}
