{% load staticfiles %}

<!DOCTYPE html>
<html>

  <head>
    <meta charset="UTF-8">
    <title>{% block meta_title %}{% endblock meta_title %} - AppManager | System of Appointments Management </title>
    <meta name="description" content="System of Appointments Management">
    <meta anme="author" content="gopjak36">

    <!--Styles -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/bootstrap/3.3.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.0.0/css/bootstrap-datetimepicker.min.css">
    <link rel="stylesheet" href="{% static 'css/my_app.css' %}">
  </head>

  <body>

    <!-- Container Start -->
    <div class="container">

      <!-- Header of Page Start -->
      <div class="row" id="header">

        <!--Logo -->
        <div class="col-xs-8">
          <h1 id="logo"><a href="{% url 'appointments_list' %}" id="head-link">AppManager</a> <a id="head-text">System of Appointments Management</a></h1>
        </div>

        <!--Sign in and Register -->
        <div class="col-xs-4" id="log-reg">
          {% if user.is_authenticated %}
          <p>Welcome, <a href="">{{ user }} ({{ user.email }})</a> | <a href="{% url 'logout' %}">Log out</a></p>
          {% else %}
          <p><a href="{% url 'auth' %}">Sign in</a> |</p>
          {% endif %}
        </div>


      </div>
      <!-- Header of Page End -->

      <!-- Content of Page Start -->
      <div class="row" id="content">
        <div class="col-xs-12">

          <ul class="nav nav-tabs" role="tablist">
            {% url 'appointments_list' as url_appointments_list %}
            <li role="presentation" {% if request.path == url_appointments_list %} class="active" {% endif %}><a href="{% url 'appointments_list' %}">Appointments</a></li>
            {% if user.is_authenticated %}
            {% url 'submit_data_list' as url_submit_data_list %}
            <li role="presentation" {% if request.path == url_submit_data_list %} class="active" {% endif %}><a href="{% url 'submit_data_list' %}">Submit Data</a></li>
            {% endif %}
          </ul>

          <!-- Statu message Success or warning -->
          {% if messages %}
          {% for message in messages %}
            <div class="alert alert-{% if message.tags == 'warning' %}warning{% elif message.tags == 'success' %}success{% endif %}" role="alert">
              {{ message }}
            {% endfor %}
          </div>
          {% endif %}

          <!-- Errors message from From -->
         {% if errors %}
           <div class="alert alert-warning">
             Please, correct the following errors!
           </div>
          {% endif %}

          <!-- Head of Content -->
          <h3 id="head-content">{% block title %} {% endblock title %}</h3>

          <!-- Content Place Start -->
          {% block content %} {% endblock content %}
          <!-- Content Place End -->
        </div>
      </div>
      <!-- Content of Page End -->

      <!-- Footer Start -->
      <dic class="row" id="footer">
        <div class="col-xs-12">
          <div class="list-group">
            <center><p class="list-group-item active"> <a href="https://github.com/gopjak36" id="created">Created by gopjak36</a> | <a href="#header" id="footer-link-to-header">System of Appointments Management</a> | <a href="https://github.com/gopjak36/appmanager" id="ccc">© 2017 AppManager</a></p></center>
          </div>
        </div>
      </div>
      <!-- Footer End -->

    </div>
    <!-- Container End -->

    <!-- Javascript -->
    <script src="http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.1/jquery.js"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/moment.js/2.9.0/moment.min.js"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.0.0/js/bootstrap-datetimepicker.min.js"></script>
    <script src="https://cdn.jsdelivr.net/bootstrap/3.3.0/js/bootstrap.min.js"></script>
    <script src="{% static 'js/my_script.js' %}"></script>
  </body>

</html>
