/* BTN LINK */
#btn-link {
  margin-bottom: 15px;
  font-weight: bold;
}

/* Head Content Text */
#head-content {
  text-decoration: underline;
}

#list-item {
  font-size: 22px;
}


#head-link{
  text-decoration: none;
}

#head-text{
  font-size: 16px;
  text-decoration: none;
  color: black;
}

#log-reg {
  margin-top:15px;
}

#footer a{
  color: white;
}

#created{
  float:left;
  text-decoration: none;
}

#ccc{
  float: right;
  text-decoration: none;
}

#footer-link-to-header{
  text-decoration: underline;
}

import os
import sys

path = '/home/appmanager/appmanager'
if path not in sys.path:
    sys.path.append(path)

os.environ['DJANGO_SETTINGS_MODULE'] = 'appmanager.settings'

from django.core.wsgi import get_wsgi_application
application = get_wsgi_application()
